[submodule "Assets/UnityUtils"]
	path = Assets/UnityUtils
	url = git@github.com:SimpleDevs-Tools/UnityUtils.git
[submodule "Assets/UnityEquiCam"]
	path = Assets/UnityEquiCam
	url = git@github.com:bodhid/UnityEquiCam.git
[submodule "Assets/EasierVRAssets"]
	path = Assets/EasierVRAssets
	url = git@github.com:kimryan0416/EasierVRAssets.git
